.users-page {
  margin: 0 auto;
  padding: 40px 60px;
}

.users-page__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
}

.users-page__loading {
  font-size: 20px;
  text-align: center;
  padding: 100px 0;
}